<a href="https://colab.research.google.com/github/hansjang/Py_Radar/blob/main/%EB%8D%B0%EC%8B%B8%EB%9D%BC%EB%A9%B4Part2_P59.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from tabulate import tabulate

# 데이터 정의
data = {
    '이름': ['이익', '박문수', '정약용', '홍경래', '김정호', '전봉준', '김구', '안중근', '윤심덕', '유관순', '윤봉길', '이상', '이중섭', '정주영', '이병철', '이미자', '김승옥'],
    '시대': ['조선후기', '조선후기', '조선후기', '조선후기', '조선후기', '조선후기', '일제강점기', '일제강점기', '일제강점기', '일제강점기', '일제강점기', '일제강점기', '일제강점기', '대한민국', '대한민국', '대한민국', '대한민국'],
    '생년월일': ['1681-10-18', '1691-10-28', '1762-08-05', '1780-05-29', '1804-05-05', '1855-01-10', '1876-08-29', '1879-09-02', '1897-07-25', '1902-12-16', '1908-06-21', '1910-04-08', '1916-09-16', '1915-11-25', '1910-02-12', '1941-10-30', '1941-12-23'],
    '사망년월일': ['1763-12-05', '1756-02-22', '1836-02-22', '1812-05-31', '1866-08-07', '1895-04-24', '1949-06-26', '1910-03-26', '1926-08-04', '1920-09-28', '1932-12-19', '1937-04-17', '1956-09-06', '2001-03-21', '1987-11-19', '2024-09-03', '2024-09-03'],
    '진로': ['문과', '문과', '이과', '무과', '이과', '무과', '문과', '무과', '예체능', '무과', '무과', '예체능', '예체능', '이과', '이과', '예체능', '문과'],
    '국어': [100, 100, 88, 100, 85, 79, 65, 90, 99, 85, 89, 82, 70, 77, 88, 69, 96],
    '영어': [80, 95, 70, 82, 100, 90, 95, 100, 66, 65, 85, 80, 65, 58, 86, 67, 84],
    '수학': [60, 71, 94, 71, 90, 89, 62, 43, 33, 72, 86, 71, 50, 86, 94, 42, 67],
    '사회': [95, 85, 90, 80, 78, 68, 90, 87, 75, 77, 92, 64, 68, 76, 77, 73, 92],
    '과학': [55, 65, 99, 67, 85, 72, 70, 64, 62, 55, 66, 72, 64, 84, 93, 52, 63],
    '총점': [390, 416, 441, 400, 438, 398, 382, 384, 335, 354, 418, 369, 317, 381, 438, 303, 402]
}

# 데이터프레임 생성
df = pd.DataFrame(data)

# 데이터프레임 출력
print(tabulate(df, headers='keys', tablefmt='grid'))

+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
|    | 이름   | 시대       | 생년월일   | 사망년월일   | 진로   |   국어 |   영어 |   수학 |   사회 |   과학 |   총점 |
+====+========+============+============+==============+========+========+========+========+========+========+========+
|  0 | 이익   | 조선후기   | 1681-10-18 | 1763-12-05   | 문과   |    100 |     80 |     60 |     95 |     55 |    390 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
|  1 | 박문수 | 조선후기   | 1691-10-28 | 1756-02-22   | 문과   |    100 |     95 |     71 |     85 |     65 |    416 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
|  2 | 정약용 | 조선후기   | 1762-08-05 | 1836-02-22   | 이과   |     88 |     70 |     94 |     90 |     99 |    441 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
|  3 | 홍경래 | 조선후기   | 1780-05-29 | 1812-05-31   | 무과   |    100 |     82 |     71 |     80 |     67 |    400 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
|  4 | 김정호 | 조선후기   | 1804-05-05 | 1866-08-07   | 이과   |     85 |    100 |     90 |     78 |     85 |    438 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
|  5 | 전봉준 | 조선후기   | 1855-01-10 | 1895-04-24   | 무과   |     79 |     90 |     89 |     68 |     72 |    398 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
|  6 | 김구   | 일제강점기 | 1876-08-29 | 1949-06-26   | 문과   |     65 |     95 |     62 |     90 |     70 |    382 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
|  7 | 안중근 | 일제강점기 | 1879-09-02 | 1910-03-26   | 무과   |     90 |    100 |     43 |     87 |     64 |    384 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
|  8 | 윤심덕 | 일제강점기 | 1897-07-25 | 1926-08-04   | 예체능 |     99 |     66 |     33 |     75 |     62 |    335 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
|  9 | 유관순 | 일제강점기 | 1902-12-16 | 1920-09-28   | 무과   |     85 |     65 |     72 |     77 |     55 |    354 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
| 10 | 윤봉길 | 일제강점기 | 1908-06-21 | 1932-12-19   | 무과   |     89 |     85 |     86 |     92 |     66 |    418 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
| 11 | 이상   | 일제강점기 | 1910-04-08 | 1937-04-17   | 예체능 |     82 |     80 |     71 |     64 |     72 |    369 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
| 12 | 이중섭 | 일제강점기 | 1916-09-16 | 1956-09-06   | 예체능 |     70 |     65 |     50 |     68 |     64 |    317 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
| 13 | 정주영 | 대한민국   | 1915-11-25 | 2001-03-21   | 이과   |     77 |     58 |     86 |     76 |     84 |    381 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
| 14 | 이병철 | 대한민국   | 1910-02-12 | 1987-11-19   | 이과   |     88 |     86 |     94 |     77 |     93 |    438 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
| 15 | 이미자 | 대한민국   | 1941-10-30 | 2024-09-03   | 예체능 |     69 |     67 |     42 |     73 |     52 |    303 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+
| 16 | 김승옥 | 대한민국   | 1941-12-23 | 2024-09-03   | 문과   |     96 |     84 |     67 |     92 |     63 |    402 |
+----+--------+------------+------------+--------------+--------+--------+--------+--------+--------+--------+--------+

In [ ]:
# 생년월일, 사망년월일 날짜 형식으로 변환하기
# errors='coerce' : 날짜 형식으로 변환할 수 없는 값은 NaT(Not a Time)으로 처리
# format='mixed' : 날짜 형식이 다양한 경우, 각 값에 대해 형식을 자동으로 추론
df['생년월일'] = pd.to_datetime(df['생년월일'], errors='coerce', format='mixed')
df['사망년월일'] = pd.to_datetime(df['사망년월일'], errors='coerce', format='mixed')

# 잘 변환되었는지 확인
print(tabulate(df, headers="keys", tablefmt="grid"))

+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|    | 이름   | 시대       | 생년월일            | 사망년월일          | 진로   |   국어 |   영어 |   수학 |   사회 |   과학 |   총점 |
+====+========+============+=====================+=====================+========+========+========+========+========+========+========+
|  0 | 이익   | 조선후기   | 1681-10-18 00:00:00 | 1763-12-05 00:00:00 | 문과   |    100 |     80 |     60 |     95 |     55 |    390 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  1 | 박문수 | 조선후기   | 1691-10-28 00:00:00 | 1756-02-22 00:00:00 | 문과   |    100 |     95 |     71 |     85 |     65 |    416 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  2 | 정약용 | 조선후기   | 1762-08-05 00:00:00 | 1836-02-22 00:00:00 | 이과   |     88 |     70 |     94 |     90 |     99 |    441 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  3 | 홍경래 | 조선후기   | 1780-05-29 00:00:00 | 1812-05-31 00:00:00 | 무과   |    100 |     82 |     71 |     80 |     67 |    400 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  4 | 김정호 | 조선후기   | 1804-05-05 00:00:00 | 1866-08-07 00:00:00 | 이과   |     85 |    100 |     90 |     78 |     85 |    438 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  5 | 전봉준 | 조선후기   | 1855-01-10 00:00:00 | 1895-04-24 00:00:00 | 무과   |     79 |     90 |     89 |     68 |     72 |    398 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  6 | 김구   | 일제강점기 | 1876-08-29 00:00:00 | 1949-06-26 00:00:00 | 문과   |     65 |     95 |     62 |     90 |     70 |    382 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  7 | 안중근 | 일제강점기 | 1879-09-02 00:00:00 | 1910-03-26 00:00:00 | 무과   |     90 |    100 |     43 |     87 |     64 |    384 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  8 | 윤심덕 | 일제강점기 | 1897-07-25 00:00:00 | 1926-08-04 00:00:00 | 예체능 |     99 |     66 |     33 |     75 |     62 |    335 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  9 | 유관순 | 일제강점기 | 1902-12-16 00:00:00 | 1920-09-28 00:00:00 | 무과   |     85 |     65 |     72 |     77 |     55 |    354 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 10 | 윤봉길 | 일제강점기 | 1908-06-21 00:00:00 | 1932-12-19 00:00:00 | 무과   |     89 |     85 |     86 |     92 |     66 |    418 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 11 | 이상   | 일제강점기 | 1910-04-08 00:00:00 | 1937-04-17 00:00:00 | 예체능 |     82 |     80 |     71 |     64 |     72 |    369 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 12 | 이중섭 | 일제강점기 | 1916-09-16 00:00:00 | 1956-09-06 00:00:00 | 예체능 |     70 |     65 |     50 |     68 |     64 |    317 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 13 | 정주영 | 대한민국   | 1915-11-25 00:00:00 | 2001-03-21 00:00:00 | 이과   |     77 |     58 |     86 |     76 |     84 |    381 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 14 | 이병철 | 대한민국   | 1910-02-12 00:00:00 | 1987-11-19 00:00:00 | 이과   |     88 |     86 |     94 |     77 |     93 |    438 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 15 | 이미자 | 대한민국   | 1941-10-30 00:00:00 | 2024-09-03 00:00:00 | 예체능 |     69 |     67 |     42 |     73 |     52 |    303 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 16 | 김승옥 | 대한민국   | 1941-12-23 00:00:00 | 2024-09-03 00:00:00 | 문과   |     96 |     84 |     67 |     92 |     63 |    402 |
+----+--------+------------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+

In [ ]:
# ['생애년'] 추가
df['생애년'] = (df['사망년월일'] - df['생년월일']).dt.days // 365.25

# 생애년을 정수형으로 변환
df['생애년'] = df['생애년'].astype(int)

# 생애년 내림차순 정렬
df = df.sort_values(by='생애년', ascending=False, inplace=False).reset_index(drop=True)

# 원하는 순서로 컬럼 재배열
df = df[['이름', '시대', '생애년', '생년월일', '사망년월일',
         '진로', '국어', '영어', '수학', '사회', '과학', '총점']].reset_index(drop=True)

# 결과 확인
print(tabulate(df, headers='keys', tablefmt='grid'))

# 생애년 평균 구하기
print(f'생애년 평균값=', round(df['생애년'].mean(),1), '세')
print(f'생애년 중간값=', round(df['생애년'].median(),1), '세')

+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|    | 이름   | 시대       |   생애년 | 생년월일            | 사망년월일          | 진로   |   국어 |   영어 |   수학 |   사회 |   과학 |   총점 |
+====+========+============+==========+=====================+=====================+========+========+========+========+========+========+========+
|  0 | 정주영 | 대한민국   |       85 | 1915-11-25 00:00:00 | 2001-03-21 00:00:00 | 이과   |     77 |     58 |     86 |     76 |     84 |    381 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  1 | 이익   | 조선후기   |       82 | 1681-10-18 00:00:00 | 1763-12-05 00:00:00 | 문과   |    100 |     80 |     60 |     95 |     55 |    390 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  2 | 이미자 | 대한민국   |       82 | 1941-10-30 00:00:00 | 2024-09-03 00:00:00 | 예체능 |     69 |     67 |     42 |     73 |     52 |    303 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  3 | 김승옥 | 대한민국   |       82 | 1941-12-23 00:00:00 | 2024-09-03 00:00:00 | 문과   |     96 |     84 |     67 |     92 |     63 |    402 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  4 | 이병철 | 대한민국   |       77 | 1910-02-12 00:00:00 | 1987-11-19 00:00:00 | 이과   |     88 |     86 |     94 |     77 |     93 |    438 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  5 | 정약용 | 조선후기   |       73 | 1762-08-05 00:00:00 | 1836-02-22 00:00:00 | 이과   |     88 |     70 |     94 |     90 |     99 |    441 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  6 | 김구   | 일제강점기 |       72 | 1876-08-29 00:00:00 | 1949-06-26 00:00:00 | 문과   |     65 |     95 |     62 |     90 |     70 |    382 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  7 | 박문수 | 조선후기   |       64 | 1691-10-28 00:00:00 | 1756-02-22 00:00:00 | 문과   |    100 |     95 |     71 |     85 |     65 |    416 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  8 | 김정호 | 조선후기   |       62 | 1804-05-05 00:00:00 | 1866-08-07 00:00:00 | 이과   |     85 |    100 |     90 |     78 |     85 |    438 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
|  9 | 전봉준 | 조선후기   |       40 | 1855-01-10 00:00:00 | 1895-04-24 00:00:00 | 무과   |     79 |     90 |     89 |     68 |     72 |    398 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 10 | 이중섭 | 일제강점기 |       39 | 1916-09-16 00:00:00 | 1956-09-06 00:00:00 | 예체능 |     70 |     65 |     50 |     68 |     64 |    317 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 11 | 홍경래 | 조선후기   |       32 | 1780-05-29 00:00:00 | 1812-05-31 00:00:00 | 무과   |    100 |     82 |     71 |     80 |     67 |    400 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 12 | 안중근 | 일제강점기 |       30 | 1879-09-02 00:00:00 | 1910-03-26 00:00:00 | 무과   |     90 |    100 |     43 |     87 |     64 |    384 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 13 | 윤심덕 | 일제강점기 |       29 | 1897-07-25 00:00:00 | 1926-08-04 00:00:00 | 예체능 |     99 |     66 |     33 |     75 |     62 |    335 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 14 | 이상   | 일제강점기 |       27 | 1910-04-08 00:00:00 | 1937-04-17 00:00:00 | 예체능 |     82 |     80 |     71 |     64 |     72 |    369 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 15 | 윤봉길 | 일제강점기 |       24 | 1908-06-21 00:00:00 | 1932-12-19 00:00:00 | 무과   |     89 |     85 |     86 |     92 |     66 |    418 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
| 16 | 유관순 | 일제강점기 |       17 | 1902-12-16 00:00:00 | 1920-09-28 00:00:00 | 무과   |     85 |     65 |     72 |     77 |     55 |    354 |
+----+--------+------------+----------+---------------------+---------------------+--------+--------+--------+--------+--------+--------+--------+
생애년 평균값= 53.9 세
생애년 중간값= 62.0 세

###############################################################################

In [ ]:
from datetime import timedelta

# timedelta 객체 생성
delta = timedelta(days=5, hours=3, minutes=20, seconds=15, microseconds=123456)

# 시간으로 변환
total_hours = delta.total_seconds() / 3600

# 결과 출력
print(f"Total hours: {total_hours:.2f}시간")

Total hours: 123.34시간