<a href="https://colab.research.google.com/github/hansjang/Py_Radar/blob/main/%EB%8D%B0%EC%8B%B8%EB%9D%BC%EB%A9%B4Part4_P101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/hansjang/Py_Radar.git

import shutil
shutil.move('Py_Radar/data', '/content/data')

# 폴더와 그 안의 모든 파일을 삭제
# !rm -rf /content/Py_Radar
# !rm -rf /content/data

Cloning into 'Py_Radar'...
remote: Enumerating objects: 139, done.
remote: Counting objects: 100% (139/139), done.
remote: Compressing objects: 100% (137/137), done.
remote: Total 139 (delta 65), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (139/139), 5.73 MiB | 7.73 MiB/s, done.
Resolving deltas: 100% (65/65), done.

'/content/data'

In [2]:
# 데이터 불러오기
import numpy as np
import pandas as pd

df = pd.read_csv('/content/data/greats200.csv', encoding='utf-8')

display(df.head())
display(df.shape)   # (200,11)
display(df.isna().sum())

,NAME,AGE,BIRTH_YEAR,DEATH_YEAR,JOB,CJENM,TVCHOSUN,MBC,EBS,TVN,SONG100
0,단군,삼국시대,-2333.0,-425.0,정치인,29586564,3444410,5200000,240452,4537700,1
1,동명왕,삼국시대,-58.0,19.0,정치인,17700,6700,0,19649,20000,1
2,온조왕,삼국시대,-36.0,28.0,정치인,0,0,0,30394,54000,1
3,김수로,삼국시대,42.0,199.0,정치인,26373800,6044361,32320600,571093,1707600,0
4,박혁거세,삼국시대,-69.0,4.0,정치인,5216000,1039000,1620000,31444,1638400,1

(200, 11)

NAME          0
AGE           0
BIRTH_YEAR    5
DEATH_YEAR    1
JOB           0
CJENM         0
TVCHOSUN      0
MBC           0
EBS           0
TVN           0
SONG100       0
dtype: int64

In [9]:
# 결측치 행 확인
missing_rows = df[df.isna().any(axis=1)]
display(missing_rows) # [7,12, 25, 30, 35, 53]

# 결측치 ffill()로 대체
df2 = df.ffill()

display(df2.iloc[[7,12, 25, 30, 35, 53]])
display(df2.isna().sum())

# 적정값 대체
df2.loc[7,'DEATH_YEAR'] = 474
display(df2.iloc[[7]])

,NAME,AGE,BIRTH_YEAR,DEATH_YEAR,JOB,CJENM,TVCHOSUN,MBC,EBS,TVN,SONG100
7,백결선생,삼국시대,414.0,NaN,예술가,0,0,4620000,6630,0,1
12,계백,삼국시대,NaN,660.0,군인,445000,12779,300000,136916,1178600,1
25,양규,고려,NaN,1011.0,군인,1502000,361,0,38000,1302000,0
30,척준경,고려,NaN,1144.0,군인,5891000,502517,0,2940000,1951000,0
35,이인로,고려,NaN,1220.0,문학가,0,571,0,15800,0,1
53,홍길동,조선전기,NaN,1500.0,운동가,27522398,1541021,11250000,956600,2206200,1

,NAME,AGE,BIRTH_YEAR,DEATH_YEAR,JOB,CJENM,TVCHOSUN,MBC,EBS,TVN,SONG100
7,백결선생,삼국시대,414.0,413.0,예술가,0,0,4620000,6630,0,1
12,계백,삼국시대,590.0,660.0,군인,445000,12779,300000,136916,1178600,1
25,양규,고려,877.0,1011.0,군인,1502000,361,0,38000,1302000,0
30,척준경,고려,1055.0,1144.0,군인,5891000,502517,0,2940000,1951000,0
35,이인로,고려,1206.0,1220.0,문학가,0,571,0,15800,0,1
53,홍길동,조선전기,1415.0,1500.0,운동가,27522398,1541021,11250000,956600,2206200,1

NAME          0
AGE           0
BIRTH_YEAR    0
DEATH_YEAR    0
JOB           0
CJENM         0
TVCHOSUN      0
MBC           0
EBS           0
TVN           0
SONG100       0
dtype: int64

,NAME,AGE,BIRTH_YEAR,DEATH_YEAR,JOB,CJENM,TVCHOSUN,MBC,EBS,TVN,SONG100
7,백결선생,삼국시대,414.0,474.0,예술가,0,0,4620000,6630,0,1

In [11]:
# 종속변수(y) = 'SONG100' 으로 해서 데이터 분리
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df2.drop(columns='SONG100'),
                                                             df2['SONG100'],
                                                             test_size = 0.2,
                                                             random_state = 1004)
print('X_train :', X_train.shape, 'X_test :', X_test.shape)
print('y_train :', y_train.shape, 'y_test :', y_test.shape)

X_train : (160, 10) X_test : (40, 10)
y_train : (160,) y_test : (40,)

In [14]:
display(X_train.head(10))

,NAME,AGE,BIRTH_YEAR,DEATH_YEAR,JOB,CJENM,TVCHOSUN,MBC,EBS,TVN
5,근초고왕,삼국시대,300.0,375.0,정치인,345400,3205600,0,365500,0
133,나혜석,대한민국,1896.0,1948.0,예술가,842700,7543,0,111530,3090000
170,김동리,대한민국,1913.0,1995.0,문학가,0,0,0,25210,2040000
9,진흥왕,삼국시대,534.0,576.0,정치인,2994800,1714,0,52498,10018000
141,조소앙,대한민국,1887.0,1958.0,정치인,0,0,0,727,1160000
89,김정호,조선후기,1804.0,1866.0,사상가,8082000,10661840,11898000,1888161,2914000
38,최무선,고려,1330.0,1395.0,군인,0,9200,0,102915,15600
51,신숙주,조선전기,1417.0,1475.0,정치인,3300800,51125,0,88339,2371500
148,박수근,대한민국,1914.0,1965.0,예술가,1231300,28310,0,1173333,16500
6,광개토대왕,삼국시대,374.0,413.0,정치인,7801300,3681130,500000,65090,878600

In [15]:
display(y_train.head(10))

5      0
133    0
170    0
9      0
141    0
89     1
38     1
51     1
148    0
6      1
Name: SONG100, dtype: int64

In [17]:
display(df2['SONG100'].value_counts())

SONG100
0    125
1     75
Name: count, dtype: int64

In [18]:
display(y_train.value_counts())

SONG100
0    100
1     60
Name: count, dtype: int64

In [21]:
# 층화임의추출
X_train, X_test, y_train, y_test = train_test_split(df2.drop(columns='SONG100'),
                                                             df2['SONG100'],
                                                             test_size = 0.2,
                                                             stratify  = df2['SONG100'])
print('X_train :', X_train.shape, 'X_test :', X_test.shape)
print('y_train :', y_train.shape, 'y_test :', y_test.shape)

X_train : (160, 10) X_test : (40, 10)
y_train : (160,) y_test : (40,)

In [22]:
display(y_train.value_counts())

SONG100
0    100
1     60
Name: count, dtype: int64